---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700|Source+Serif+Pro');
@import "contact_info";
@import "research_interest";
@import "navbar_custom";
@import "container_custom";
@import "btn_custom";
@import "post";
@import "research";


body {
  font-family: 'Open Sans', sans-serif;
  color: #090909;
}

a {
  color: black;

  &:hover {
    color: black;
  }
}

.intro-header {
  margin-bottom: 10px;
}

.researches {
  margin-top: 20px;
}

.researches:first-child {
  margin-top: 0;
}

.personal_info {
  font-size: 50px;
}

address {
  margin-bottom: 0;
}

.no_margin {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .researches__category {
    font-size: 48px;
  }

  .photo {
    max-width: 100%;
  }

  .personal_info {
    padding-top: 120px;
  }
}

