.intro-header {
  margin-bottom: 10px;
}

.researches {
  margin-top: 20px;
}

.researches:first-child {
  margin-top: 0;
}

.photo {
  max-width: 80%;
}

.personal_info {
  font-size: 50px;
}


@media only screen and (min-width: 768px) {
  .researches__category {
    font-size: 48px;
  }

  .photo {
    max-width: 100%;
  }

  .personal_info {
    padding-top: 120px;
  }
}
