---
layout: default
active: home
---

<div class="container container-custom">
  <div class="row contact_info">
    <div class="col-sm-4 container__contact_info_photo">
      <img src="/assets/profile_picture.jpg" class="contact_info__photo" alt="profile">
    </div>
    <div class="col-sm-7 offset-sm-1 container__contact_info">
      <div class="contact_info__name">Hana Choi</div>

      <p>
      Ph.D. Candidate in Marketing<br>
      Fuqua School of Business, Duke University
      </p>

      <address>
      <span class="contact_info__label">Email</span>: <a href="mailto:hana.choi@duke.edu">hana.choi@duke.edu</a><br>
      <span class="contact_info__label">Phone</span>: <a href="tel:1-336-392-2288">336-392-2288</a> / <a href="tel:1-734-834-0699">734-834-0699</a><br>
      <span class="contact_info__label">Address</span>: 100 Fuqua Drive, Durham NC, 27708
      </address>
    </div>
  </div>
</div>

<div class="research_interest" style="margin-top: 90px">
  <div class="container container-custom">
    <p><b>Research Interests:</b><br> Digital Economy, Advertising, Consumer Search, Startup Business</p>

    <p>I combine exploratory data analysis, causal inference from field experiments, theoretical modeling, and structural modeling approaches.<br> My current research can be summarized into two research streams: display advertising and online marketplaces.</p>

    <p class="no_margin">I will be attending the 2018 AMA Conference in Boston.</p>
  </div>
</div>

<div class="container container-custom" style="margin-top: 90px">
  {% for post in site.posts %}
    {% if post.category == 'working papers' or post.category == 'publications' %}
      <div class="post">
        <a class="post__title" {% if post.pdf-url %}href="{{ post.pdf-url }}" target="_blank"{% endif %}>
          {{ post.title }}
        </a>
        <div class="post__subtitle">{{ post.co-authors }}</div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class="text-center" style="margin-top: 80px">
  <a class="btn btn-custom" href="/research.html">ALL RESEARCH ></a>
</div>
