---
layout: default
active: research
---

<div class="container container-custom">
  {% assign categories = 'publications|working papers|work in progress' | split: '|' %}
  <div class="research__categories">
    {% for category in categories %}
      {% if site.categories[category] %}
        <div class="research__category">
          <div class="research__category_name">
            {% if category == 'publications' %}
              Publications
            {% elsif category == 'working papers' %}
              Working Papers
            {% elsif category == 'work in progress' %}
              Work in Progress
            {% endif %}
          </div>
          <div class="posts" style="margin-top: 50px">
            {% for post in site.categories[category] %}
              <div class="post">
                <a class="post__title" {% if post.pdf-url %}href="{{ post.pdf-url }}" target="_blank"{% endif %}>
                  {{ post.title }}
                </a>
                <div class="post__subtitle">
                  {{ post.co-authors }}
                  {% if post.awards.size > 0 %}
                    <ul>
                      {% for award in post.awards %}
                        <li>{{ award }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
                <div class="post__content">
                  <p>{{ post.content | remove: '<p>' | remove: '</p>' }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
