.btn-custom {
  font-size: 15px;
  font-weight: bold;
  border-radius: 0;
  border: solid 2px #424242;
  padding: 10px 25px;
}

.btn-custom:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-custom:focus, .btn-custom.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-custom.disabled, .btn-custom:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-custom:not(:disabled):not(.disabled):active, .btn-custom:not(:disabled):not(.disabled).active,
.show > .btn-custom.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-custom:not(:disabled):not(.disabled):active:focus, .btn-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
