.contact_info {
  font-size: 15px;
  font-family: AppleSDGothicNeo-light, 'Times New Roman', serif;
}

.contact_info__photo {
  width: 100%;
}

.contact_info__name {
  font-weight: bold;
  font-size: 40px;
}

.contact_info__label {
  font-weight: bold;
}
