@media (min-width: 576px) {
  .container-custom {
    max-width: 680px;
  }
}

@media (min-width: 768px) {
  .container-custom {
    max-width: 680px;
  }
}

@media (min-width: 992px) {
  .container-custom {
    max-width: 680px;
  }
}

@media (min-width: 1200px) {
  .container-custom {
    max-width: 680px;
  }
}
