.post {
  margin-top: 70px;

  &:first-child {
    margin-top: 0;
  }
}

.post__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 37px;
}

.post__subtitle {
  font-size: 16px;
  margin-top: 13px;
  font-weight: 300;
  line-height: 23px;
}

.post__content {
  font-size: 17px;
  margin-top: 30px;
  line-height: 30px;
}
